.Todoitem {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(113, 109, 109);
    border-radius: 15px;
    /* background-image: linear-gradient(to top, #bbbbbb 0%, #634494 100%); */
    /* background-color: rgb(189, 200, 211); */
    background-color: #c4c7d6;
    color:rgb(5, 22, 66);
    /* transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative; */
    
}

.Todoitem .checkbox_col {
    width: 30px;
}

.Todoitem .title_col {
    flex: 1;
    font-size: 20px;
}

.Todoitem .date_col {
    font-size: 16px;
    color: grey;
}

.Todoitem button {
    cursor: pointer;
    color: rgb(59, 2, 2);
    background-color: rgb(208, 214, 223);
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 7px;

}
.Todoitem .btn_col_complete button:hover {
    background-color: #485bb9;
}
/* disabled 상태에서의 스타일 (hover 효과 무시) */
.btn_col_complete button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
    pointer-events: none; /* 마우스 이벤트 무시 */
  }

.Todoitem .btn_col_delete button:hover {
    background-color: rgb(119, 50, 136);
}

/* .Todoitem.completing {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translateX(100%);
    opacity: 0;
} */

.Todoitem.deleted {
    transition: transform 1s ease-out, opacity 0.5s ease-out;
    transform: translateX(100%);
    opacity: 0;
}

.Todoitem-container {
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    overflow: hidden;
    max-height: 100px; /* 적절한 높이로 조정 */
    opacity: 1;
}

.new-item {
    max-height: 0;
    opacity: 0;
  }

  .Todoitem.completed {
    background-color: rgb(42, 117, 52);
    border-color: rgb(16, 57, 13);
  }