.Todoitem {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(240,240,240);
    border-radius: 15px;
    /* background-image: linear-gradient(to top, #bbbbbb 0%, #634494 100%); */
    /* background-color: rgb(189, 200, 211); */
    background-color: #c4c7d6;
    color:rgb(5, 22, 66);
    /* transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative; */
    
}

.Todoitem .checkbox_col {
    width: 20px;
}

.Todoitem .title_col {
    flex: 1;
    font-size: 20px;
}

.Todoitem .date_col {
    font-size: 16px;
    color: grey;
}

.Todoitem button {
    cursor: pointer;
    color: rgb(59, 2, 2);
    background-color: rgb(208, 214, 223);
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 7px;

}
.Todoitem .btn_col_complete button:hover {
    background-color: #7e8fe4;
}

.Todoitem .btn_col_delete button:hover {
    background-color: rgb(188, 95, 211);
}
.Todoitem.completing {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translateX(100%);
    opacity: 0;
}

.Todoitem-container {
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    overflow: hidden;
    max-height: 100px; /* 적절한 높이로 조정 */
    opacity: 1;
}

.new-item {
    max-height: 0;
    opacity: 0;
  }